.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.portfolio-thumb {
    margin-bottom: 24px;
}


@media (min-width:500px) and (max-width:767px) {

    .col-sm-6{
        text-align: center;
        margin: auto;

        img{
            margin-left: 130px;
        }
    }    
}
