.row.row-no-gutters > [class^="col-"],
.row.row-no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

.icon-md {
    font-size: 30px!important;
}

@media (max-width:767px) {
    .social {
        display: flex;
        justify-content: space-between;
    }


}