.bg-presentation {
    background-image: url("img/image-de-presentation-reset-min.jpg");
}

.black-background {
    background-color: #313030b7;
    padding: 40px 40px 40px 40px;
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

.text-center .white {
    p{
        font-size: 12px;
    }
}